anyio==3.5.0
asgiref==3.5.0
Authlib==0.15.5
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cryptography==36.0.1
fastapi==0.74.1
h11==0.12.0
httpcore==0.14.7
httptools==0.3.0
httpx==0.22.0
idna==3.3
itsdangerous==2.1.0
pycparser==2.21
pydantic==1.9.0
python-dotenv==0.19.2
PyYAML==6.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.5
watchgod==0.7
websockets==10.2
